@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a12;
  /* Felis Dark */
  color: #e2e8f0;
  /* Slate-200 */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}